.container1 {
    display: flex;
    justify-content: space-around;
    background-color: #faf3f3;
    padding: 10px; 
  }

  h1{
    font-size: 69px;
  }
  
  .container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0e7e7;
    padding: 10px; 
  }
  .body{
    text-align: center;
    line-height: 100px;
    
  }
  .imag{
    display: flex;
    margin: 0 auto;
  }
  .abc{
    margin-left: 10%;
    margin-right: 10%;
  }
  .abc1{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    
  }

  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
  padding: 1px 300px;
  background-color: #FAF3F3;
  color: #03e9f4;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 8%;
}

button:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.detail_btn {
  width: 100%;
  margin: 0 auto 50px;
}

.detail_btn_text{
  align-items: center;
}
